*.la
*.lo
*.o
.deps
.libs
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config.guess
config.rpath
config.sub
config
configure
depcomp
gnome-doc-utils.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
stamp-h1
*~

gnome-initial-setup-*.tar.gz
gnome-initial-setup-*.tar.bz2
gnome-initial-setup-*.tar.xz

gnome-initial-setup/gis-resources.c
gnome-initial-setup/gis-resources.h
gnome-initial-setup/gnome-initial-setup
gnome-initial-setup/gnome-initial-setup-copy-worker

gnome-initial-setup/pages/account/um-realm-generated.c
gnome-initial-setup/pages/account/um-realm-generated.h
gnome-initial-setup/pages/location/timedated.c
gnome-initial-setup/pages/location/timedated.h
gnome-initial-setup/pages/location/cc-datetime-resources.c
gnome-initial-setup/pages/location/cc-datetime-resources.h
gnome-initial-setup/pages/language/languages/list-languages
gnome-initial-setup/pages/welcome/welcome-resources.c
gnome-initial-setup/pages/welcome/welcome-resources.h

gnome-initial-setup.desktop
gnome-initial-setup-copy-worker.desktop
gnome-welcome-tour.desktop

gnome-initial-setup-0.*

player/gnome-initial-setup-player
