# Editor temporary files
*~
*.swp

# GNOME Builder litter
/.buildconfig

# Subprojects for building a GTK 4 development snapshot
/subprojects/graphene.wrap
/subprojects/graphene
/subprojects/gstreamer-full.wrap
/subprojects/gtk4/
/subprojects/libsass.wrap
/subprojects/libsass/
/subprojects/sassc.wrap
/subprojects/sassc/
