/* Styles destined for GTK 4, borrowed from
 * https://gitlab.gnome.org/GNOME/gtk/issues/1808#note_521862
 */
.large-title {
   font-weight: 300;
   font-size: 24pt;
   letter-spacing: 0.2rem;
}

.title-1 {
   font-weight: 800;
   font-size: 20pt;
}
