[Desktop Entry]
Type=Application
Name=Welcome
Exec=bash -c "epiphany --private-instance http://www.gnome3.org ; rm -f /tmp/run-welcome-tour"
AutostartCondition=if-exists /tmp/run-welcome-tour
OnlyShowIn=GNOME;
