[Desktop Entry]
Type=Application
Name=GNOME Shell
Exec=gnome-shell --mode=initial-setup
X-GNOME-AutoRestart=true
X-GNOME-Autostart-Phase=DisplayServer
X-GNOME-Provides=panel;windowmanager;
X-GNOME-Autostart-Notify=true
